@use "../layout/footer.scss";
@use "../layout/header.scss";
@use"../abstracts/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyCancelarDeuda {
    width: 100%;
    margin: 0;
    padding: 0;

    .h1cancelarDeuda {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }

    .mainCancelarDeuda {
        display: flex;
        justify-content: center;
        align-items: center;

        .formDeudaPorMes {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem 2rem 2rem 2rem;
            height: auto;
            width: 20%;
            border: 1px solid black;

            .sectionSpan {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem 0;
                background-color: rgb(227, 232, 255);
                border-bottom: 1px solid grey;

                .spanDeudaMensual {
                    text-align: center;
                    width: 100%;
                    font-size: 1.5rem;
                    font-weight: bold;

                }
            }

            .sectionCancelarDeudaMes {
                display: flex;
                flex-direction: column;
                padding: 1rem 0;
                font-size: 1.3rem;

                input {
                    height: 1.5rem;
                }

                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(227, 232, 255);
                }
            }

            .botonPagarDeudaMensual {
                height: 2rem;
                padding: 0 1rem;
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 1rem;
                color: aliceblue;
                background-color: variables.$color-principal;
            }
        }

        .formDeudaTotal {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem 2rem 2rem 2rem;
            height: auto;
            width: 20%;

            border: 1px solid black;

            .sectionSpan {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem 0;
                background-color: rgb(227, 232, 255);
                border-bottom: 1px solid grey;

                .spanDeudaTotal {
                    text-align: center;
                    width: 100%;
                    font-size: 1.5rem;
                    font-weight: bold;

                }
            }

            .sectionCancelarDeudaTotal {
                display: flex;
                flex-direction: column;
                padding: 1rem 0;
                font-size: 1.3rem;

                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(227, 232, 255);
                }

                input {
                    height: 1.5rem;
                }
            }

            .botonPagarDeudaTotal {
                height: 2rem;
                padding: 0 1rem;
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 1rem;
                color: aliceblue;
                background-color: variables.$color-principal;
            }
        }
    }
}