@use"../abstracts/variables.scss";
@use"../base/fonts.scss";
@use"../components/buttons.scss";
@use"../components/forms.scss";
@use"../layout/footer.scss";
@use"../layout/header.scss";
@use"../abstracts/errores.scss";

.bodyInicio {

    .divDatosCuenta {
        width: 95%;
        margin: 2rem auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;
        font-size: 1.5rem;

        .sectionDatoscuenta {
            padding: 0.5rem 0;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;

            .spanNombreCuenta {
                font-weight: bolder;
            }

            .spanLiquidezCuenta {
                font-weight: bolder;
            }

            .spanInversionCuenta {
                font-weight: bolder;
            }
        }
    }
    .divDatosDueda {
        width: 95%;
        margin: 2rem auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;
        font-size: 1.5rem;

        .sectionDatosDeuda {
            padding: 0.5rem 0;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;

            .spanDatosDeuda {
                font-weight: bolder;
            }

            .spanMesDeuda {
                font-weight: bolder;
            }

            .spanTotalDeuda {
                font-weight: bolder;
            }
        }
    }

    .contenedorInversiones {
        margin: 0 auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        width: 95%;
        padding: 0 1.5rem 0 1.5rem;
        background-color: aliceblue;
        padding-bottom: 1rem;
        box-shadow: 1px 1px 5px black;

        .inversionesEncabezado {
            text-align: center;
            width: 100%;
            display: grid;
            min-height: 2rem;

            border-bottom: 1px solid;
            grid-template-columns: repeat(6, 1fr);
            align-items: center;
            background-color: rgb(227, 232, 255);

            .misInversionesOperar {
                width: auto;
            }
        }

        .spanInversiones {
            margin-top: 1.5rem;
            padding: 1rem 0 1rem 0;
            width: 100%;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .divInversiones {
            width: 100%;
            text-align: center;
            box-shadow: 1 0 5px black;

            .sectionInversion {

                width: 100%;
                background-color: white;
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                justify-content: center;
                align-items: center;
                padding: 4px 0;

                .inversionesVenderComprar {
                    padding: 0 2rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .inversionesComprar {
                        text-decoration: none;
                        color: variables.$color-ganancia;
                        transition: 0.2s;

                        &:hover {
                            transform: scale(1.1);
                            color: green;
                            font-weight: bold;
                        }
                    }

                    .inversionesVender {
                        text-decoration: none;
                        color: variables.$color-perdida;
                        transition: 0.2s;

                        &:hover {
                            transform: scale(1.1);
                            color: red;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .divTotalInversion {
            background-color: rgb(227, 232, 255);
            border: 1px solid black;
            min-height: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }


    .contenedorMisOrdenes {
        height: auto;
        margin: 2rem auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        width: 95%;
        padding: 0 1.5rem 0 1.5rem;
        background-color: aliceblue;
        padding-bottom: 1rem;
        box-shadow: 1px 1px 5px black;

        .spanOrdenes {
            margin-top: 1.5rem;
            padding: 1rem 0 1rem 0;
            width: 100%;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ordenesEncabezado {
            text-align: center;
            width: 100%;
            display: grid;
            min-height: 2rem;
            border-bottom: 1px solid;
            grid-template-columns: repeat(5, 1fr);
            align-items: center;
            background-color: rgb(227, 232, 255);

        }

        .sectionMisOrdenes {
            width: 100%;
            background-color: white;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-content: center;
            align-items: center;
            padding: 4px 0;
            text-align: center;

            .ordenesUsuario {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 4rem;

                .botonCancelarOrden {
                    color: aliceblue;
                    background-color: variables.$color-principal;
                    width: 4.5rem;
                    border-radius: 6px;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .noHayOrdenes {
        font-size: 2rem;
        text-align: center;
    }
}