@use "../abstracts/variables.scss";
@use "../layout/header.scss";

.bodyPanelGeneral {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    .contenedorTitulos {
        margin: 4rem auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        width: 95%;
        padding: 0 1.5rem 2rem 1.5rem;
        background-color: aliceblue;
        box-shadow: 1px 1px 5px black;

        .TitulosEncabezado {
            text-align: center;
            width: 100%;
            display: grid;
            min-height: 2rem;
            border-bottom: 1px solid;
            grid-template-columns: repeat(6, 1fr);
            align-items: center;
            background-color: rgb(227, 232, 255);

            .misTitulosOperar {
                width: auto;
            }
        }

        .spanTitulos {
            margin-top: 1.5rem;
            padding: 1rem 0;
            width: 100%;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .divTitulos {
            width: 100%;
            text-align: center;
            box-shadow: 1 0 5px black;

            .sectionTitulos {

                width: 100%;
                background-color: white;
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                border-bottom: 1px solid gray;
                justify-content: center;
                align-items: center;
                padding: 4px 0;
                cursor: pointer;

                &:hover {
                    background-color: rgb(227, 232, 255);
                }

                .buena {
                    color: variables.$color-ganancia;
                }

                .mala {
                    color: variables.$color-perdida;
                }

            }
        }
    }
}