@use"../abstracts/variables.scss";

    .botonesIngresoInvEgreso {
        width: 100%;
        margin: 1rem auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        text-decoration: none;

        .botonIngresoDinero {
            background-color: white;
            padding:0 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.5rem;
            height: 3rem;
            min-width: 20vw;
            border: 2px;
            border-top: 4px solid variables.$color-principal;
            box-shadow: 0 1px 1px 1px rgb(175, 173, 173);
            cursor: pointer;
            transition: transform 0.2s;

            &:hover{
                transform: scale(1.05);
            }
        }
        .linkBotonIngreso{
            text-decoration: none;
        }
        .linkBotonInverti{
            text-decoration: none;
        .botonInvertir {
            height: 3rem;
            min-width: 50vw;
            padding:0 2rem;
            font-size: 1.5rem;
            background-color: variables.$color-ganancia;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px;
            color: aliceblue;
            box-shadow: 0 1px 1px 1px rgb(175, 173, 173);
            cursor: pointer;
            transition: transform 0.2s;

            &:hover{
                transform: scale(1.05);
            }
        }
    }
        .botonEgresoDinero {
            background-color: white;
            box-shadow: 0 1px 1px 1px rgb(175, 173, 173);
            padding:0 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.5rem;
            height: 3rem;
            min-width: 20vw;
            border: 2px;
            border-top: 4px solid variables.$color-perdida;
            cursor: pointer;
            transition: transform 0.2s;

            &:hover{
                transform: scale(1.05);
            }
        }
        .linkBotonEgreso{
            text-decoration: none;
        }
    }
