.mensajeError{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: rgb(83, 1, 1);
    margin-top: 6px;
}
.mensaje-ok{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: rgb(23, 73, 23);
    margin-top: 6px;
}